@import '~styles/variables';
@import '~styles/mixins';

strong {
  font-weight: bold;
}

main p {
  margin-bottom: 2rem;
  max-width: 780px;
}

button {
  background-color: rgba($gray-4, 0.35);
  padding: 1.2rem 1.6rem;
  cursor: pointer;
  transition: 0.1s all ease;

  @include hover-rescale();

  &:disabled {
    background-color: $gray-5;
    color: $gray-3;
    cursor: not-allowed;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}
