* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  color: inherit;
  text-transform: inherit;
  background-color: unset; }

body {
  line-height: 1; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

ul, ol {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

strong {
  font-weight: bold; }

main p {
  margin-bottom: 2rem;
  max-width: 780px; }

button {
  background-color: rgba(119, 119, 119, 0.35);
  padding: 1.2rem 1.6rem;
  cursor: pointer;
  transition: 0.1s all ease; }
  button:not(:disabled):hover {
    transform: scale(1.05); }
  button:disabled {
    background-color: #555555;
    color: #aaaaaa;
    cursor: not-allowed; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.chemical-element {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 0.8rem;
  padding: 1.2rem;
  border: 2px solid rgba(238, 238, 238, 0.6);
  border-radius: 5px;
  overflow: hidden;
  background-color: transparent;
  cursor: pointer;
  transition: 0.1s all ease;
}
.chemical-element:not(:disabled):hover {
    transform: scale(1.05);
}
.chemical-element--incorrect {
    border-color: red;
}
.chemical-element--incorrect input {
      color: red;
}
.chemical-element__atomic-number {
    font-size: 1.2rem;
    color: #cccccc;
    margin-bottom: 0.8rem;
}
.chemical-element__symbol {
    font-size: 3rem;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    text-align: center;
    margin-top: auto;
    color: #eeeeee;
}
.chemical-element__name {
    font-size: 1.4rem;
    margin-top: 0.6rem;
    color: #cccccc;
}
.chemical-element input {
    max-width: 56px;
    border-color: transparent;
    border-bottom-width: 2px;
    border-style: solid;
    outline: none;
    transition: 0.1s all ease;
}
.chemical-element input:focus {
      outline: none;
      border-color: #eeeeee;
}
.periodic-table--small-elements .chemical-element {
    line-height: 0.1rem;
}
.periodic-table--small-elements .chemical-element__symbol {
      font-size: 2rem;
}
.periodic-table--small-elements .chemical-element__name {
      display: none;
}
.periodic-table--small-elements .chemical-element input {
      max-width: 32px;
}
.chemical-element--category-nonmetal {
    background-color: rgba(0, 255, 0, 0.15);
}
.chemical-element--category-noble-gas {
    background-color: rgba(0, 170, 255, 0.15);
}
.chemical-element--category-alkali-metal {
    background-color: rgba(255, 0, 0, 0.15);
}
.chemical-element--category-alkaline-earth-metal {
    background-color: rgba(255, 170, 0, 0.15);
}
.chemical-element--category-metalloid {
    background-color: rgba(85, 85, 0, 0.4);
}
.chemical-element--category-halogen {
    background-color: rgba(255, 255, 0, 0.25);
}
.chemical-element--category-post-transition-metal {
    background-color: rgba(119, 119, 119, 0.3);
}
.chemical-element--category-transition-metal {
    background-color: rgba(255, 136, 136, 0.2);
}
.chemical-element--category-lanthanide {
    background-color: rgba(255, 170, 170, 0.25);
}
.chemical-element--category-actinide {
    background-color: rgba(204, 136, 170, 0.25);
}
.chemical-element--natural-occurrence-decay {
    border-style: dashed;
}
.chemical-element--natural-occurrence-synthetic {
    border-style: dotted;
}

.periodic-table-configuration {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  right: -440px;
  top: 0;
  max-width: 440px;
  height: 100vh;
  padding: 3.2rem;
  background-color: rgba(49, 49, 68, 0.9);
  z-index: 99;
  transition: 0.18s all ease;
  overflow-y: auto;
}
.periodic-table-configuration--open {
    right: 0;
}
.periodic-table-configuration h2 {
    font-size: 2.4rem;
    margin-bottom: 2.4rem;
}
.periodic-table-configuration button {
    margin-bottom: 2.4rem;
}
.periodic-table-configuration .form-item {
    display: flex;
    align-items: center;
    margin-bottom: 1.6rem;
}
.periodic-table-configuration .form-item input {
      margin-right: 1.6rem;
}

.game-stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 520px;
  width: 100%;
  padding: 2.4rem;
  background-color: rgba(85, 85, 85, 0.2);
}
.game-stats > div {
    display: flex;
    flex-direction: column;
}
.game-stats__time-indicator {
    font-size: 3rem;
}

.periodic-table {
  display: flex;
  flex-direction: column;
}
.periodic-table section {
    margin-bottom: 7.2rem;
}
.periodic-table__content-grid {
    position: relative;
    display: grid;
    grid-gap: 1rem;
    margin-bottom: 7.2rem;
}
.periodic-table .game-stats {
    position: absolute;
    top: 0;
    left: calc(50% - 400px);
}
.periodic-table--small-elements .game-stats {
    left: calc(50% - 372px);
}

:root {
  font-size: 10px;
}
html {
  height: 100%;
}
body {
  font-size: 1.8rem;
  font-family: "Oxygen", sans-serif;
  line-height: 2.8rem;
  color: #eeeeee;
  min-height: 100vh;
  height: 100%;
  background: linear-gradient(#050525, #232350) fixed;
}
#app {
  height: 100%;
  display: flex;
  flex-direction: column;
}
header {
  padding: 1.6rem;
}
header h1 {
    font-size: 2.2rem;
}
main {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 1.6rem;
  height: 100%;
}
main .periodic-table {
    margin: auto;
}
footer {
  margin-top: auto;
  padding: 1.6rem;
  font-size: 1.4rem;
  color: #cccccc;
}

