<template>
  <header>
    <h1>Periodic Table Game</h1>
  </header>

  <main>
    <periodic-table />
  </main>

  <footer>
    <p>Copyright &copy; 2020 Luis Lau</p>
  </footer>
</template>

<script>
import { GameState } from 'src/state/game-state';
import { PeriodicTableData } from 'src/state/periodic-table-data';

import PeriodicTable from 'components/periodic-table.vue';

export default {
  components: { PeriodicTable },
  provide() {
    return {
      GameState,
      PeriodicTableData
    };
  }
};
</script>

<style lang="scss">
@import '~styles/variables';
@import '~styles/mixins';

:root {
  font-size: 10px;
}

html {
  height: 100%
}

body {
  font-size: 1.8rem;
  font-family: $font-sans-serif;
  line-height: 2.8rem;
  color: $gray-1;
  min-height: 100vh;
  height: 100%;
  background: linear-gradient(#050525, #232350) fixed;
}

#app {
  height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  padding: 1.6rem;

  h1 {
    font-size: 2.2rem;
  }
}

main {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 1.6rem;
  height: 100%;

  .periodic-table {
    margin: auto;
  }
}

footer {
  margin-top: auto;
  padding: 1.6rem;
  font-size: 1.4rem;
  color: $gray-2;
}
</style>
