<template>
  <div
    class="chemical-element"
    :class="dynamicClasses"
    @click="onClicked()"
  >
    <span class="chemical-element__atomic-number">
      {{ element.atomicNumber }}
    </span>

    <template v-if="isGameInput && GameState.isGameStarted.value && !isVerified">
      <input
        :value="symbolInput"
        ref="symbolInputField"
        class="chemical-element__symbol"
        type="text"
        maxlength="2"
        spellcheck="false"
        :id="`element-input--${element.atomicNumber}`"
        @input="onSymbolInput($event.target.value)"
        @click.stop
        @blur="onSymbolInputBlurred()"
      >
      <label
        class="sr-only"
        :for="`element-input--${element.atomicNumber}`"
      >
        Enter element symbol
      </label>
    </template>

    <input
      v-else
      class="chemical-element__symbol"
      disabled
      :value="element.symbol"
    >

    <span class="chemical-element__name">
      {{ isGameInput && GameState.isGameStarted.value ? '-' : element.names['en'] }}
    </span>
  </div>
</template>

<script>
export default {
  inject: [ 'GameState' ],
  props: {
    isGameInput: { type: Boolean, default: false },
    element: { type: Object, required: true }
  },
  data() {
    return {
      symbolInput: '',
      isVerified: false
    };
  },
  computed: {
    dynamicClasses() {
      return {
        [`chemical-element--category-${this.element.category}`]: true,
        [`chemical-element--incorrect`]: this.GameState.isSymbolInputInvalid(this.element.atomicNumber),
        [`chemical-element--state-${this.element.standardConditionState}`]: true,
        [`chemical-element--natural-occurrence-${this.element.naturalOccurrence}`]: true,
      };
    }
  },
  watch: {
    'GameState.isGameStarted.value': function () {
      this.symbolInput = this.GameState.elementSymbolInput[this.element.atomicNumber] || '';
    }
  },
  methods: {
    onClicked() {
      if (this.GameState.isGameStarted.value) {
        this.$refs.symbolInputField.focus();
      }
    },
    onSymbolInputBlurred() {
      this.GameState.onSymbolInputConfirmed(this.element.atomicNumber, this.symbolInput);
    },
    onSymbolInput(input) {
      this.symbolInput = (input[0] || '').toUpperCase() + (input[1] || '').toLowerCase();
    }
  }
};
</script>

<style lang="scss">
@import '~styles/variables';
@import '~styles/mixins';

.chemical-element {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 0.8rem;
  padding: 1.2rem;
  border: 2px solid rgba($gray-1, 0.6);
  border-radius: 5px;
  overflow: hidden;
  background-color: transparent;
  cursor: pointer;
  transition: 0.1s all ease;

  @include hover-rescale();

  &--incorrect {
    border-color: red;

    input {
      color: red;
    }
  }

  &__atomic-number {
    font-size: 1.2rem;
    color: $gray-2;
    margin-bottom: 0.8rem;
  }

  &__symbol {
    font-size: 3rem;
    font-family: $font-chemical-notation;
    font-weight: 300;
    text-align: center;
    margin-top: auto;
    color: $gray-1;
  }

  &__name {
    font-size: 1.4rem;
    margin-top: 0.6rem;
    color: $gray-2;
  }

  input {
    max-width: 56px;
    border-color: transparent;
    border-bottom-width: 2px;
    border-style: solid;
    outline: none;
    transition: 0.1s all ease;

    &:focus {
      outline: none;
      border-color: $gray-1;
    }
  }

  .periodic-table--small-elements & {
    line-height: 0.1rem;

    &__symbol {
      font-size: 2rem;
    }

    &__name {
      display: none;
    }

    input {
      max-width: 32px;
    }
  }

  &--category-nonmetal {
    background-color: rgba(#00FF00, 0.15);
  }
  &--category-noble-gas {
    background-color: rgba(#00AAFF, 0.15);
  }
  &--category-alkali-metal {
    background-color: rgba(#FF0000, 0.15);
  }
  &--category-alkaline-earth-metal {
    background-color: rgba(#FFAA00, 0.15);
  }
  &--category-metalloid {
    background-color: rgba(#555500, 0.4);
  }
  &--category-halogen {
    background-color: rgba(#FFFF00, 0.25);
  }
  &--category-post-transition-metal {
    background-color: rgba(#777777, 0.3);
  }
  &--category-transition-metal {
    background-color: rgba(#FF8888, 0.2);
  }
  &--category-lanthanide {
    background-color: rgba(#FFAAAA, 0.25);
  }
  &--category-actinide {
    background-color: rgba(#CC88AA, 0.25);
  }

  &--natural-occurrence-decay {
    border-style: dashed;
  }
  &--natural-occurrence-synthetic {
    border-style: dotted;
  }
}
</style>
