<template>
  <div class="game-stats">
    <div>
      <span class="game-stats__time-indicator">
        {{ timeIndicator }}
      </span>
    </div>

    <button
      class="game-stats__end-game-button"
      @click="onGameEnded()"
    >
      End Game
    </button>
  </div>
</template>

<script>
export default {
  inject: [ 'GameState' ],
  methods: {
    onGameEnded() {
      this.GameState.endGame();
    }
  },
  computed: {
    timeIndicator() {
      return new Date(this.GameState.gameScoringStats.seconds * 1000).toISOString().substr(11, 8)
    }
  }
};
</script>

<style lang="scss">
@import '~styles/variables.scss';

.game-stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 520px;
  width: 100%;
  padding: 2.4rem;
  background-color: rgba($gray-5, 0.2);

  > div {
    display: flex;
    flex-direction: column;
  }

  &__time-indicator {
    font-size: 3rem;
  }
}
</style>
