<template>
  <form
    class="periodic-table-configuration"
    :class="dynamicClasses"
    @submit.prevent
  >
    <h2>New Game</h2>

    <p>
      Configure the game to your liking. Leave as-is to use the recommended settings.
    </p>
    <p>
      Settings <strong>cannot be changed</strong> during an unfinished game.
    </p>

    <button @click="GameState.isGameConfigurationOpen.value = false">
      Cancel
    </button>

    <button @click="onGameStarted()">
      Start game
    </button>

    <!-- TODO: Automate this -->
    <div class="form-item">
      <input
        type="checkbox"
        checked
      />
      <label>Player must enter each element's <strong>symbol</strong></label>
    </div>

    <div class="form-item">
      <input
        type="checkbox"
      />
      <label>Player must enter each element's <strong>name</strong></label>
    </div>

    <div class="form-item">
      <input
        type="checkbox"
        checked
      />
      <label>Verify player's answers immediately</label>
    </div>
  </form>
</template>

<script>
export default {
  inject: [ 'GameState' ],
  data() {
    return {
      gameConfiguration: {}
    };
  },
  computed: {
    dynamicClasses() {
      return {
        'periodic-table-configuration--open': this.GameState.isGameConfigurationOpen.value
      };
    }
  },
  methods: {
    onGameStarted() {
      this.GameState.startGame(this.gameConfiguration);
    }
  }
};
</script>

<style lang="scss">
@import '~styles/variables';

.periodic-table-configuration {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  right: -440px;
  top: 0;
  max-width: 440px;
  height: 100vh;
  padding: 3.2rem;
  background-color: rgba(#313144, 0.9);
  z-index: 99;
  transition: 0.18s all ease;
  overflow-y: auto;

  &--open {
    right: 0;
  }

  h2 {
    font-size: 2.4rem;
    margin-bottom: 2.4rem;
  }

  button {
    margin-bottom: 2.4rem;
  }

  .form-item {
    display: flex;
    align-items: center;
    margin-bottom: 1.6rem;

    input {
      margin-right: 1.6rem;
    }
  }
}
</style>
