<template>
  <div
    class="periodic-table"
    :class="dynamicClasses"
  >
    <section>
      <template v-if="!GameState.isGameStarted.value">
        <p>
          Test how well you know the <strong>periodic table</strong> by heart.
        </p>

        <p>
          Start a new game and try to enter every element's <strong>symbol</strong>, <strong>name</strong>, or both. Configure the game to make it as challenging as you'd like.
        </p>

        <p>
          Click on an <strong>element</strong> to view facts and trivia about it.
        </p>

        <button
          :disabled="GameState.isGameConfigurationOpen.value"
          @click="onNewGameRequested()"
        >
          {{ GameState.isGameConfigurationOpen.value ? 'Starting new game...' : 'New game' }}
        </button>
      </template>

      <template v-else>
        <p>
          <strong>Tip:</strong> Use the <strong>tab</strong> key to easily navigate to the next element.
        </p>
      </template>
    </section>

    <div
      :style="gridDynamicStyles"
      class="periodic-table__content-grid"
    >
      <game-stats
        v-if="GameState.isGameStarted.value"
      />

      <template v-for="y in [...Array(totalRows)].map((_, index) => index)">
        <template v-for="x in [...Array(totalColumns)].map((_, index) => index)">
          <chemical-element
            v-if="elementExistsAtPosition(x, y)"
            :element="getElementAtPosition(x, y)"
            class="periodic-table__block"
            is-game-input
          />
          <div
            v-else
            class="periodic-table__block periodic-table__block--empty"
          />
        </template>
      </template>
    </div>
  </div>

  <periodic-table-configuration />
</template>

<script>
import ChemicalElement from './chemical-element.vue';
import PeriodicTableConfiguration from './periodic-table-configuration.vue';
import GameStats from './game-stats.vue';

export default {
  components: {
    ChemicalElement,
    PeriodicTableConfiguration,
    GameStats
  },
  inject: [ 'GameState', 'PeriodicTableData' ],
  computed: {
    totalRows() {
      return this.PeriodicTableData.elementTableConfiguration.length;
    },
    totalColumns() {
      return this.PeriodicTableData.elementTableConfiguration[0].length;
    },

    showSmallElements() {
      const viewportWidth = Math.max(document.documentElement.clientWidth || 0, window.innerWidth || 0);

      return viewportWidth < 1770;
    },

    dynamicClasses() {
      return {
        'periodic-table--small-elements': this.showSmallElements
      };
    },
    gridDynamicStyles() {
      return {
        'grid-template-columns': `repeat(${this.totalColumns}, ${this.showSmallElements ? 48 : 86}px)`
      };
    }
  },
  methods: {
    elementExistsAtPosition(x, y) {
      const column = this.PeriodicTableData.elementTableConfiguration[y];

      if (!column)
        return false;

      return Boolean(this.PeriodicTableData.elementTableConfiguration[y][x]);
    },
    getElementAtPosition(x, y) {
      return this.PeriodicTableData.elementsByAtomicNumber[this.PeriodicTableData.elementTableConfiguration[y][x]];
    },

    onNewGameRequested() {
      this.GameState.resetGameState();
      this.GameState.isGameConfigurationOpen.value = true;
    }
  }
};
</script>

<style lang="scss">
.periodic-table {
  display: flex;
  flex-direction: column;

  section {
    margin-bottom: 7.2rem;
  }

  &__content-grid {
    position: relative;
    display: grid;
    grid-gap: 1rem;
    margin-bottom: 7.2rem;
  }

  .game-stats {
    position: absolute;
    top: 0;
    left: calc(50% - 400px);
  }

  &--small-elements {
    .game-stats {
      left: calc(50% - 372px);
    }
  }
}
</style>
